.storelocator-panel {
    border: 1px solid #ccc;
    overflow: auto;
}

.storelocator-panel .store-list {
    margin: 0;
    padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
    padding: 5px;
}
.storelocator-panel .directions-panel {
    font-size: 0.8em;
}

.storelocator-panel .store-list li.store:hover {
    cursor: pointer;
    background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
    background: #ccf;
}

.storelocator-panel .directions {
    display: none;
}

.storelocator-panel .location-search {
    padding: 5px;
}

.storelocator-panel .location-search input {
    width: 95%;
}

.storelocator-panel .location-search h4 {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.storelocator-panel .store-list .no-stores {
    color: grey;
}

.storelocator-panel .store .features {
    display: none;
}

.storelocator-panel .feature-filter {
    overflow: hidden;
}

.storelocator-panel .feature-filter label {
    display: block;
    font-size: 0.8em;
    margin: 0 0.4em;
    float: left;
}

.store .title {
    font-weight: bold;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
    font-size: 80%;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    display: block;
}

.store .features {
    overflow: hidden;
    color: grey;
    margin: 0;
    padding: 0;
    font-size: 70%;
    max-width: 250px;
}

.store .features li {
    display: inline;
    float: left;
    padding-right: 0.8em;
}

.store .web a {
    color: green
}

.store .action {
    font-size: 0.8em;
    color: green;
    margin-right: 0.5em;
}

#map-canvas {


}

.img-responsive {
    max-width: 95%;
    margin-left: 2%;
    background-color: #2a2a2a;


}

#map-canvas {

    margin-left:auto;
    margin-right:auto;

}
#loading_animation {


}

body { background-color: #000000; !important


}

h3.nearest_locations {
background-color: #ccccff;
}

span.small-caps {
    font-variant: small-caps;
    font-size: .75em;
}

#plopper {
    border: 1px #000 solid;

}
.plop_format {

    margin-top: 2px;
}

.hide_these1 {
    display:none;
}
.hide_these1a {
    display:none;
}

.hide_these2 {
    display:none;
}
.hide_these2a {
    display:none;
}

.hide_these3 {
    display:none;
}

.hide_these3a {
    display:none;
}
.hide_these4 {
    display:none;
}
.hide_these4a {
    display:none;
}
.hide_these5 {
    display:none;
}
.hide_these5a {
    display:none;
}



#sidebar {
    clear:both;
    width: 85%;
    margin-left: 10%;
}



span.ui-button-text {

}

.testins55 {
    border: 1px solid #000;
}

.clear_phone {
    clear:both;
}

#search_holder {
    width: 95%;
   margin-left:auto;
    margin-right:auto;
    height: 75px;
    margin-bottom: 3%;
    clear:both;
}
#search_holder input {
    font-size: 1em;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}
#search_holder a {
    margin-left:auto;
    margin-right:auto;
}

h1#locations_header {
    font-size: 1.15em;
    text-align: center;
    font-family: Courier, Tahoma, "Trebuchet MS";
    color: navy;
    clear:both;
}
#sidebar div.ui-block-a {

    width: 85% !important;
}

.ui-input-clear .ui-btn-inner {
    margin-left:95%;
}

p.disclaimer {
    font-variant:small-caps;
    font-size: .75em;
    color: #ff9000;
    width: 97%;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
}

.wrong_info_text {
    
}

#contact_form {
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
#contact_name {
    width: 80%;
}


#contact_email { width: 80%;

}

#contact_success {
    visibility: hidden;
}
#contact_success h3{
    text-align: center;
    color: #ff9000;

}
#contact_success_words {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}

textarea.ui-input-text { height: inherit }

textarea.contact_comments {
    height: 150px;
}
textarea.ui-input-text {
    height:100px !important;
}

label.error {
    color:#ff9000;
    font-variant: small-caps;
    font-weight: 900;
}

.contact_header {
   text-align: center;
    color: #ff9000;
    font-size: 1.5em;
    text-shadow: 2px 2px #bb2103;

}

.contact_header2 {


    text-align: center;
    color: #ff9000;
    font-size: 1.5em;
    text-shadow: 2px 2px #bb2103;

}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 90% !important;
    margin-left:4%;
    margin-right:auto;
    display:hidden;
}

.fb-like-box.fb_iframe_widget {
    margin-left: 25%;
}

#distance_1 {
font-variant: small-caps;
    color: darkolivegreen;

}
#distance_2 {
    font-variant: small-caps;
    color: darkolivegreen;
}
#distance_3 {
    font-variant: small-caps;
    color: darkolivegreen;
}

#about_us_words {
    width: 85%;
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
}

#form1 p {
    margin-left: 2%;
    text-align: justify;
}

.credit {
    margin-left: 2%;
}
p.disclaimer {

}

span.math_problem {
    font-weight: 800;
    font-size: 1.5em;
    margin-left:40%;
    color: #ff9000;
    text-shadow: 2px 2px #bb2103;


}


div.wrong_info_text div.ui-input-text {
    width: 45%;
    margin-left:auto;
    margin-right:auto;
}

.math_shift {
    width: 85%;
    margin-left:auto;
    margin-right: auto;
}

.invalid_info_success h3 {
    text-align: center;
    color: darkolivegreen;
}


@media screen and (max-width: 330px) {
    .img-responsive {
       height: 60px;
        max-width: 90%;
        margin-left: 4%;

    }

}

.orangose {
    color: #ff9000;
    text-shadow: 2px 2px #bb2103;
    font-size: 1.5em;
}

.orangose2 {
    color: #000000;
    text-shadow: 1px 1px #ff9000;
    font-size: 1.5em;
}

.orangose3 {
    color: #000000;
    text-shadow: 1px 1px #ff9000;
    font-size: 1.5em;
}

.ui-btn-active { color: #ff9000 !important;
                 background-color: #666666 !important;
                 border-color: #666666 !important;  }


 /* change background color of jquery mobile icon other than the icon itself.. neat! */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after  {
    background-color: #ff9000 !important;
    border: 2px inset #bb2103 !important;
}

.responsibly {
    color: #ff9000;
    text-shadow: 1px 1px #bb2103;
    font-size: 1.5em;
}

.FT_infowindow {
    color: #000000;
}


div.ui-btn, input[type="submit"] {
    color: #000000 !important;
    text-shadow: 1px 1px #ff9000 !important;
    font-size: 1.5em;
}

.ui-page-theme-b a.plop_links {
    color: #ff9000;
    text-decoration: none;
    text-shadow: 1px 1px #bb2103;
    font-size: 1.2em;
}
.ui-page-theme-b a.plop_links:hover {
    color: #faf095;
    text-shadow: 1px 1px #ff9000;
}

.ui-page-theme-b a.plop_links:visited {
    color: #ff9000;
}

.ui-page-theme-b a.report_this1 {
    color: #ff9000;
    text-decoration: none;
    text-shadow: 1px 1px #bb2103;
}

.ui-page-theme-b a.report_this1:hover {
    color: #faf095;
    text-shadow: 1px 1px #ff9000;
}

.ui-page-theme-b a.report_this1:visited {
    color: #ff9000;
}

.ui-page-theme-b a.report_this2 {
    color: #ff9000;
    text-decoration: none;
    text-shadow: 1px 1px #bb2103;
}

.ui-page-theme-b a.report_this2:hover {
    color: #faf095;
    text-shadow: 1px 1px #ff9000;
}

.ui-page-theme-b a.report_this2:visited {
    color: #ff9000;
}


.ui-page-theme-b a.report_this3 {
    color: #ff9000;
    text-decoration: none;
    text-shadow: 1px 1px #bb2103;
}

.ui-page-theme-b a.report_this3:hover {
    color: #faf095;
    text-shadow: 1px 1px #ff9000;
}

.ui-page-theme-b a.report_this3:visited {
    color: #ff9000;
}

label {
    color: #faf095;
    text-shadow: 1px 1px #bb2103;
    font-size: 2em;
}

.location_name {
    font-size: 1.1em;
    color: #000000;

    text-shadow: 1px 1px #ff9000;
}

.ui-collapsible-heading  {
background-color: #666666 !important;
}

h3.submission_success {
    color: #ff9000;
    text-shadow: 1px 1px #bb2103;
}

a.basic_links {
    color: #faf095;
    text-shadow: 1px 1px #bb2103;
    text-decoration: none;
}
a.basic_links:hover {

    text-shadow: 1px 1px #faf095;


}

a.basic_links:visited {
    color: #FFFFFF;
}

span.basic_links {
    color: #faf095;
}

span.basic_links:hover {
    color: #faf095;
    text-shadow: 1px 1px #ff9000;
}

#google_ad {
    margin-left: 30%;

}

#google_ad2 {
    margin-left: 30%;

}
#home_page_ads {
    margin-left:30%;

}

@media screen and (max-width: 650px) {


    #google_ad {
        margin-left: 25%;

    }

    #google_ad2 {
        margin-left: 25%;

    }

    #home_page_ads {
        margin-left:25%;

    }
}

@media screen and (max-width: 530px) {


    #google_ad {
        margin-left: 20%;

    }

    #google_ad2 {
        margin-left: 20%;

    }
    #home_page_ads {
        margin-left:20%;

    }
}

@media screen and (max-width: 500px) {


    #google_ad {
        margin-left: 10%;

    }

    #google_ad2 {
        margin-left: 10%;

    }
    #home_page_ads {
        margin-left:10%;

    }
}

@media screen and (max-width: 400px) {


    #google_ad {
        margin-left: 5%;

    }

    #google_ad2 {
        margin-left: 5%;

    }
    #home_page_ads {
        margin-left:5%;

    }
}

@media screen and (max-width: 350px) {


    #google_ad {
        margin-left: 0%;

    }

    #google_ad2 {
        margin-left: 0%;

    }
    .fb-like-box.fb_iframe_widget {
        margin-left: 10%;
    }

    #home_page_ads {
        margin-left:-7%;

    }


}

div.gm-style {
    color: #000000;
}

#home_page_words {
    width: 80%;
    text-align: justify;
    margin-left: auto;
    margin-right:auto;
}


div.gm-style a{
    font-weight: normal !important;
}
